<section class="container">
  <h1 class="title">Find a Doctor You Trust</h1>
  <form class="info">
    <h1 class="label">Location</h1>
    <input type="text" name:"location">
    <h1 class="label">Speciality</h1>
    <input type="text" name:"location">
    <h1 class="label">Insurance</h1>
    <input type="text" name:"location">
    <button class="search">Find Me A Doctor</button>
  </form>
</section>