html, body, h1, ul, li, div, img, h2, h3, form, input, span, footer, a, h4, input, form, main {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@import url(http://fonts.googleapis.com/css?family=Varela);

$base-color: #404040;

body {
  font-size: 30px;
  font-family: 'Varela', sans-serif;
  margin: 0 auto;
  max-width: 1000px;
}

header {
  background: #298bff;
  padding: 0.6em 0.5em;
  color: white;
}

a {
  color: white;
  padding: 0.25em 0.5em;
  background: $base-color;
  border-radius: 0.15em;
  float: right;
  margin: 0.3em ;
  margin-left: 0.1em;
}

a:hover {
  color: white;
  background: darken($base-color, 10%);
};